.dashboardReports-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.dashboardReports-heading {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.dashboardReports-heading h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardReports-heading button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    width: 7rem;
    background-color: unset;
    cursor: pointer;
    border: none;
}

.dashboardReports-heading button:hover {
    text-decoration: underline;
}

.dashboardReports-Activity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.dashboardReports-ActiveSensors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.dashboardReports-dropdowninner {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.dashboardReports-dropdownDiv {
    text-align: left;
    padding-left: 1rem;
}

.dashboardReports-dropdownDiv select,
.reports-innerbarchartdiv h5 select {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.dashboardReports-ActiveSensors div {
    cursor: pointer;
    margin: 0.5rem auto;
    width: 30%;
    height: 10rem;
    background-color: white;
    /* margin: 0.5rem; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    border: 1px solid #EFF0F6;
}

.dashboardReports-ActiveSensors div h5 {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.dashboardReports-ActiveSensors div h1 {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboardReports-ActiveSensors div h1 span {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    position: relative;
    top: 0.3rem;
}

.dashboardReports-barChart {
    width: 50%;
    display: flex;
}

.dashboardReports-barChart .reports-innerbarchartdiv h5,
.ReportsAlert-innerdiv h5 {
    height: 11%;
    width: 90%;
    border-bottom: 2px solid rgba(228, 229, 231, 1);
    margin: auto;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.reports-innerbarchartdiv h5 {
    display: flex;
    justify-content: space-between;
}

.dashboardReports-barChart .reports-innerbarchartdiv {
    background-color: white;
    width: 95%;
    margin: auto;
    height: 21rem;
    border-radius: 20px;
}

.reports-Activitybarchart {
    width: 90%;
    height: 88%;
    margin: auto;

}

.barchart-upper-container {
    display: flex;
    height: 80%;
    margin-top: 1rem;
}

.barchart-percentage-container {
    position: relative;
    top: 0.5rem;
    color: rgba(131, 131, 131, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
}

.barchart-bottom-container {
    color: rgba(131, 131, 131, 1);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.barchart-all-bars-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.ActivityBar-container {
    width: 0.65rem;
    background-color: #F2F7FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;

}

.ActivityBar-container .ActivityBar-innerContainer {
    border-radius: 10px;
    background-color: rgba(27, 89, 248, 0.8);
    width: 100%;
}

.dashboardReports-Alert {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ReportsAlert-container {
    width: 50%;
}

.ReportsAlert-innerdiv {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #EFF0F6;
    height: 17rem;
    width: 95%;
    margin: 1rem auto;
}

.ReportsAlert-innerdiv h5 {
    height: 25%;
    font-size: 1rem;
    border: none;
}

.ReportsAlert-eachRow {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    justify-content: space-between;

}

.ReportsAlert-eachRow img {
    width: 12%;
}

.ReportsAlert-eachRow span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18%;
    font-size: 0.8rem;
}

.ReportsAlert-progressbar {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.25rem;
}

.alertProgressBar-container {
    width: 100%;
    height: 0.7rem;
    margin-top: 0.4rem;
    border-radius: 20px;
}

.alertProgressBar-container div {
    height: 0.7rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .dashboardReports-Activity {
        flex-direction: column;
    }

    .dashboardReports-dropdowninner {
        width: 100%;
    }

    .dashboardReports-ActiveSensors div {
        padding-top: 4vw;
        height: 8rem;
    }

    .dashboardReports-ActiveSensors div h5 {
        font-size: 2.9vw;
    }

    .dashboardReports-ActiveSensors div h1 {
        height: 50%;
        font-size: 6.5vw;
    }

    .dashboardReports-barChart {
        margin-top: 1rem;
        width: 100%;
    }

    .barchart-bottom-container {
        font-size: 2.5vw;
    }

    .dashboardReports-Alert {
        flex-direction: column;
        margin-top: 1rem;
    }

    .ReportsAlert-container {
        width: 100%;
    }

    .ReportsAlert-eachRow span {
        justify-content: center;
        flex-direction: column;
    }
}