.DashboardActiveSensorsDetails-inner-container{
    /* border: 2px solid darkblue; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    /* margin-top: 3rem; */
}
.DashboardActiveSensorsDetails-inner-elements{
    /* border: 2px solid blueviolet; */
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 2rem;
}
.DashboardActiveSensorsDetails-inner-elements :nth-of-type(1){
    width: 20%;
    margin-right: 2rem;
    font-weight: 500;
}
.DashboardActiveSensorsDetails-inner-elements :nth-of-type(2){
    border-bottom: 2px solid black;
    width: 60%;
    padding: 2px 5px ;
}

.DashboardActiveSensorDetails-openStreets{
    border: 2px solid black;
    width: 100%;
    height: 45vh;
    margin: 2rem 0;
}

@media screen and (max-width: 800px) {
    .DashboardActiveSensorsDetails-inner-elements {
        width: 100%;
    }
    .DashboardActiveSensorsDetails-inner-elements :nth-of-type(1) {
        width: 25%;
    }
    .DashboardActiveSensorsDetails-inner-elements :nth-of-type(2) {
        width: 75%;
    }
    .DashboardActiveSensorDetails-openStreets{
        margin-top: 3rem;
        height: 100vw;
    }
    
}