.dashboardActivitySensors-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    height: 100vh;
}

.dashboardActivitySensors-heading {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.dashboardActivitySensors-heading h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboardActivitySensors-heading button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: rgba(77, 77, 77, 1);
    font-weight: 600;
    width: 7rem;
    background-color: unset;
    cursor: pointer;
    border: none;
}

.dashboardActivitySensors-heading button:hover {
    text-decoration: underline;
}


.ActiveSensors-TabularData-container {
    margin-top: 3rem;
}

.ActiveSensors-TabularData-container table {
    width: 100%;
    border-collapse: collapse;
}

.ActiveSensors-TabularData-container table th,
.ActiveSensors-TabularData-container table td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: left;
}

.ActiveSensors-TabularData-container table th {
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(27, 89, 248, 1);
    /* color: #f3f3f3; */
    color: rgb(246, 248, 255);
}
.ActiveSensors-TabularData-container table td {
    background-color: #ffffff;
    color: black;
}

.ActiveSensors-TabularData-container table tbody tr {
    cursor: pointer;
    transition: 0.5s ease all;

}

.ActiveSensors-TabularData-container table tbody tr:hover{
    box-shadow: black 0px 0px 10px 0;
    position: relative;
    transition: 0.5s ease all;
    /* border: 1px solid green; */
}

.ActiveSensors-Availability div{
    width: 1rem;
    height: 1rem;
    border: 3px solid initial;
    border-radius: 10rem;
}

@media screen and (max-width: 800px) {
    .ActiveSensors-TabularData-container {
        overflow: scroll;
    }
}